.group_header
  .group_header__left
    .group_header__left--groupname
      = @group.name
    .group_header__left--username
      (参加ユーザー：
      - @group.users.each do|user|
        = user[:name]
      )
  
  .group_header__right
    = link_to "一覧ページへ",groups_path,class:"group_header__right--back"

.main_space
  - @messages.each do |message|
    -if message.user.id == current_user.id
      .main_space__message
        .main_space__message--text
          = message.text
          <br>
        .main_space__message--name
          = message.user.name
    -else 
      .main_space__submessage
        .main_space__submessage--name
          = message.user.name
        .main_space__submessage--text
          = message.text
          <br>

= form_with model:[@group,@message],url: group_messages_path(@group),method: :post,class:"form_space",id:"new_message" do |f|
  = f.text_area :text,class:"form_space__text",placeholder: 'メッセージを入力'
  = f.submit "送信",class:"form_space__submit"